/*this is for the heading*/
h2 {
    color: white;
    background-color: rgb(8, 40, 91);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}


/* Don't Mind this, leave it, it doesn't affect anythg
#textfield {
  float: right;
}
.textbox {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.44);
  color: #333;
  border: 1px solid #A4A4A4;
  padding-right: 50px;
  line-height: 5;
  width: 225px;
  height: 18px;
  border-spacing: 8px;

}
*/



/*tb1- class is for the textbox for it being round and all*/
.tb1 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 650px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-left:70px;
}

/*This is for the labels*/
label {
color: #374afd;
font-weight: bold;
display: block;
width: 150px;
float: left;
}

/*this is for the fieldset all of them*/
fieldset { border:1px solid green }

/*this is for the legend in the fieldsets*/
legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:left;
  }


/*This is for Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tbnav {
	border:2px solid #456879;
	border-radius:10px;
	height: 30px;
	width: 300px;
	margin-top: 20px;
	margin-left: 20px;
}
.tbnav:hover {
    background-color: rgb(255, 153, 20);
    color: white;
    font-weight: bold;
}
.tbnav1 {
	border:2px solid rgb(255, 153, 20);
	border-radius: 7%;
	height: 70px;
	width: 150px;
	float: right;
	margin-right: 100px;
	background-color: rgb(255, 153, 20);
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.tbnav1:hover {
    background-color: rgb(255, 144, 0);
    border-color: rgb(11, 49, 114);
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
/* --- Added from 23/03/2017 --- */
fieldset {
    width: 80%;
    margin: auto;
}
fieldset:hover {
    background-color: rgb(194, 194, 214);
}

.nav-bar {
    height: 70px;
    background-color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    padding-left: 20px;
    padding-right: 20px;
}
th {
    border-bottom: 4px solid black;
    background-color: rgb(208, 208, 226);
}
tr {
    border-left: 2px solid black;
    border-bottom: 3px dashed black;
    text-align: center;
}
td {
    padding-top: 15px;
    padding-bottom: 5px;
}